	<div class="main">
		<div class="container">
		<h1>welcome to<span class="welcome-book"></span>
			<strong class="fas fa-book">Bookers</strong></strong>!!</h1>
			<p>In <span class="glyphicon glyphicon-book"></span><strong class="fas fa-book">Bookers</strong>,</p>
			<p>you can share and exchange your opinions , inpressions , and emotions</p>
			<p>about varioius books!</p>

					<p><%=link_to "Log in", new_user_session_path, class: "button_custom btn btn-success center-block" %></p>
					<p><%=link_to "Sign up", new_user_registration_path, class: "button_custom btn btn-success center-block" %></p>
			</div>
    </div>
	</div>